<button *ngIf="return == true" class="btn btn-success" routerLink="/list">
  Return
</button>


<form [formGroup]="employeeForm" class="card mt-2 col-sm-8 p-5 m-auto bg-info" (submit)="onSubmit()">
  <h1 class="text-center" #titulo >{{ title }}</h1>
  <div class="row justify-content-center m-auto ">
    <img  src="assets/employee.jpg" class="w-25 h-10 mx-auto py-3 " alt="">
    <div class="row form-group mt-2" >
      <label class="col-sm-2 ">Name:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="name" formControlName="name" />
        <small *ngIf="showWarning('name')" class="text-danger">
          name is required
        </small>
      </div>
    </div>
    <div class="row form-group mt-2">
      <label class="col-sm-2 ">Last Name:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="lastName" formControlName="lastName" />
        <small *ngIf="showWarning('lastName')" class="text-danger">
          last name is required
        </small>
      </div>
    </div>
    <div class="row form-group mt-2">
      <label class="col-sm-2">Email:</label>
      <div class="col-8">
        <input type="email" class="form-control" name="email" formControlName="email" />
        <small *ngIf="showWarning('email')" class="text-danger">
          email is required
        </small>
      </div>
    </div>
    <div class="row form-group mt-2">
      <label class="col-sm-2">Start Date</label>
      <div class="col-sm-8">
        <input type="date" class="form-control" name="startDate" formControlName="startDate" />
        <small *ngIf="showWarning('startDate')" class="text-danger">
          start date is required
        </small>
      </div>
    </div>

    <button type="submit" edit="true" class="btn btn-primary col-md-4 mx-auto mt-4">
      {{ nameButton }}
    </button>

    <button *ngIf="reset == true" class="btn btn-danger col-md-4 mx-auto mt-4" (click)="resetForm()">
      Reset
    </button>
  </div>
</form>

<!-- <h3 class="text-center mb-4">New Employee</h3>
<hr />
<form [formGroup]="employeeForm" class="row g-3" (submit)="onSubmit()">
  <div class="col-md-6">
    <label for="name">Name</label>
    <input
      formControlName="name"
      type="text"
      name="name"
      class="form-control"
      placeholder="Nombre del empleado"
    />
    <small *ngIf="showWarning('name')" class="text-danger">
      * Es requerido el nombre
    </small>
  </div>
  <div class="col-md-6">
    <label for="lastName">LastName</label>
    <input
      formControlName="lastName"
      type="text"
      name="lastName"
      class="form-control"
      placeholder="Apellido del empleado"
    />
    <small *ngIf="showWarning('lastName')" class="text-danger">
      * Es requerido el apellido
    </small>
  </div>
  <div class="col-md-6">
    <label for="email">Email</label>
    <input
      formControlName="email"
      type="text"
      name="email"
      class="form-control"
      placeholder="Email del empleado"
    />
    <small *ngIf="showWarning('email')" class="text-danger">
      * Es requerido el email
    </small>
  </div>
  <div class="col-md-6">
    <label for="startDate">StartDate</label>
    <input
      formControlName="startDate"
      type="date"
      name="startDate"
      class="form-control"
    />
    <small *ngIf="showWarning('startDate')" class="text-danger">
      * Es requerido la fecha de ingreso
    </small>
  </div>

  <div class="col-12 mt-4">
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
</form> -->